.outer-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.step-circle-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.step-indicator-row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

.step-content-default {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.step-default {
  padding: 1.5rem 2rem;
}

.footer-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.footer-nav {
  margin-top: 1rem;
  display: flex;
}

.footer-nav.spread {
  justify-content: space-between;
}

.footer-nav.end {
  justify-content: flex-end;
}

.back-button {
  transition: all 150ms;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  padding: 0.625rem 1.5rem;
  cursor: pointer;
  box-shadow: 4px 4px 0px #000;
}

.back-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #000;
}

.back-button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #000;
}

.back-button.inactive {
  pointer-events: none;
  opacity: 0.5;
  box-shadow: 4px 4px 0px #000;
}

.next-button {
  transition: all 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: #5227ff;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  padding: 0.625rem 1.5rem;
  cursor: pointer;
  box-shadow: 4px 4px 0px #000;
}

.next-button:hover:not(:disabled) {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #000;
}

.next-button:active:not(:disabled) {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #000;
}

.next-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.step-indicator {
  position: relative;
  cursor: pointer;
  outline: none;
}

.step-indicator-inner {
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-weight: 600;
}

.active-dot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  background-color: #fff;
}

.step-number {
  font-size: 0.875rem;
}

.step-connector {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 0.125rem;
  flex: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: #52525b;
}

.step-connector-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.check-icon {
  height: 1rem;
  width: 1rem;
  color: #fff;
}
